
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Guitar Hero Live </p>
 
<img src="/static/guitarherolive.jpg" alt="Guitar Hero Live" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Guitar Hero Live is a music game where you use a pysical guitar controller
to play real world music tracks to a virtural audiance and ratings system.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 20/10/15 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> FreeStyleGames</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4, Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
