
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Nintendo Land </p>
 
<img src="/static/nintendoland.jpg" alt="NintendoLand" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Nintendo Land is a party game that features twelve diffrent minigames,
each based on an existing Nintendo game franchise such as Mario and The Legend
of Zelda, spicted as attractions in the eponymous fictional amusement park.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 30/11/2012</em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EAD</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
