
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Bayonetta 2 </p>
 
<img src="/static/bayoneta2.jpg" alt="Bayonetta 2" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Bayonetta 2 is an action hack 'n' slash game where the player controls
Bayoneta as she fights against the various angelic and demonic forces using
combinations of melee attacks and gunplay.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 24/10/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> PlatinumGames</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
