
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Call of Duty: Black Ops 2 </p>
 
<img src="/static/codbo2.jpg" alt="Call of Duty: Black Ops 2" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Call of Duty: Black ops 2 is a first-person shooter that features two
connected storylines, the first set from 1986 to 1989 during the final years of
the First Cold War, and the other set in 2020 during a second Cold War.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 30/11/2012 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Treyarch</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4, Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
