
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Bloodborne </p>
 
<img src="/static/bloodborne.jpg" alt="BloodBorne" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Bloodborne is an action role-playing game that follows the players
character, the hunter, through the fictional decrepit Gothic, Victorian era
inspired city of Yharnam, whose inhabitants have been afflicted with an
abnormal blood-borne disease.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 25/03/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> FromSoftware</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
