
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Captain Toad: Treasure Tracker </p>
 
<img src="/static/captaintoad.jpg" alt="Captain Toad" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Captain Toad: Treasure Tracker is an action puzzle video game where the
players control Captain Toad and his companion Toadette in search for gold
stars.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 21/12/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> 1-UP Studio </em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
