
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> NBA 2K16 </p>
 
<img src="/static/nba2k16.jpg" alt="NBA 2K16" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> NBA 2K16 is a basketball simulation game which stimulates the experience
of the National Basketball Association. Players play NBA games with real or
created players and teams in various games modes, such as MyCareer, MyTeam, and
standard games. 

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 29/09/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Visual Concepts</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
