
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Dead Rising 3 </p>
 
<img src="/static/deadrising3.jpg" alt="Dead Rising 3" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Dead Rising 3 is an open world survival horror beat 'em up game that
follows protagonist Nick Ramos searching for supplies and weapons in order to
fight many undead and complete missions at the same time.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 22/11/2013 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Capcom</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One</em>

<br>
<br>
<br>
<br>

{% endblock %}
