
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Destiny </p>
 
<img src="/static/destiny.jpg" alt="Destiny" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Destiny is an online-only first-person shooter game that is set in a
mythic science fiction world, the game features a multiplayer "shared-world"
envitoment with elements of role-playing games. Players take on the role of a
Guardian, defenders of Earth's last safe city as they wield a power called
light to portect the City from diffrent alien races. 

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 27/10/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> 343 Industries</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One</em>

<br>
<br>
<br>
<br>

{% endblock %}
