
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Dying Light </p>
 
<img src="/static/dyinglight.jpg" alt="Dying Light" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Dying Light is an open world first person action-adventure survival horror
game that revolves around an undercover agent named Kyle Crane who us sent to
infiltrate a quarantine zone in a city call Harran. It features an
ememy-infested, open-world city with a dynamic day and night cycle.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 27/01/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Techland</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
