
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> No Man's Sky  </p>
 
<img src="/static/nomanssky.jpg" alt="No Man's Sky" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> No Man's Sky is an action-adventure survival game that is built on four
ganeplay pillars: exploration, survival, combat and trading. Players are free
to perform within the entirety of a procedurally generated deterministic open
universe, which includes over 18 quintillion planets, many with their own sets
of flora and fauna.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 10/09/2016 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Hello Games</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
