
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Batman: Arkham Knight </p>
 
<img src="/static/arkhamknight.jpg" alt="Batman: Arkham Knight" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Batman: Arhkam Knight is an action-adventure game that is loosly based on
the comic book mythos. The game's main storyline follows Batman as he confronts
Scarecrow, who has launched an attack on Gothan City, causing a city-wide
evacuation. Scarecrow, with the help of the mysterious Arkham Knight, is also
able to unite Batman's greatest foes in an attempt to finally destroy Batman.
<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 23/06/2015<em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Rocksteady Studios</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
