
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> God of War 3: Remastered </p>
 
<img src="/static/godofwar3.jpg" alt="God of War 3" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> God of War 3 Remastered is a third-person action-adventure game that is
loosely based on grrek mythology. The player controls the protagonist and
former God of War, Kratos, after his betrayal at the hands of his father Zeus,
king of the Olympian Gods.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 14/07/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> SCE Snta Monica Studio</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
