
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Grand Theft Auto V </p>
 
<img src="/static/gta5.jpg" alt="Grand Theft Auto V" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Grand Theft Auto V is an open world action-adventure game set within the
fictional state of San Andreas, based on Southern California, the single-player
story follows three criminals and their efforts to commit heists while under
pressure from a goverment agency.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 18/11/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Rockstar North</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
