
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Hyrule Warriors </p>
 
<img src="/static/hyrulewarriors.jpg" alt="Hyrule Warriors" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Hyrule Warriors is a hack-and-slash action game that takes the setting and
charcaters from the Legend of Zelda series. The player takes control of many
characters while fighting the whordes of enemys.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 19/09/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Omega Force</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
