{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Halo 5 </p>
 
<img src="/static/halo5.jpg" alt="Halo 5" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Halo 5: Guardians is a first-person shooter thats plot follows two
fireteams of human supersoldiers after the events of Halo 4. When Blue team,
led by Master Chief, goes absent without leave to track down the artificial
intelligence construct Cortana, then Master Chief's loyalties are called into
question and spartan Locke along with Fireteam Osiris are sent to retrieve
him.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 27/10/2015 </em>

<br>
<br>
<br>
<br>

<b>Developer:</b>
<em> 343 Industries</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One</em>

<br>
<br>
<br>
<br>

{% endblock %}
