<!doctype html>
<head>
</head>

<body>

<img src="static/uncharted4.jpg" alt="Uncharted 4" style=
"width:300px;height:450px;">

<img src="static/halo5.jpg" alt="Halo 5" style=
"width:300px;height:450px;">

<img src="static/smashbrosu.jpg" alt="Super Smash Bros Wii U" style=
"width:300px;height:450px;">

<img src="static/thelastofus.jpg" alt="The Last of us" style=
"width:300px;height:450px;">

<img src="static/rarereplay.jpg" alt="Rare Replay" style=
"width:300px;height:450px;">

<img src="static/mariokart8.jpg" alt="Mario Kart 8" style=
"width:300px;height:450px;">

<img src="static/infamousss.jpg" alt="Infamous Second Son" style=
"width:300px;height:450px;">

<img src="static/deadrising3.jpg" alt="Dead Rising 3" style=
"width:300px;height:450px;">

<img src="static/uncharted4.jpg" alt="Uncharted 4" style=
"width:300px;height:450px;">

</body>
</html>
