
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Infamous Second Son </p>
 
<img src="/static/infamousss.jpg" alt="Infamous Second Son" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Infamous Second son is an open world action-adventure game that lets the
player control protagonist Delsin Rowe with superpower abilities that the
player uses in combat and to travel accross the city. The story sees Delsin
fighting thr Department of Unified Protection (D.U.P) in a fictionalized
Seattle.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 21/03/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Sucker Punch</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
