
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Killer Instinct </p>
 
<img src="/static/killerinstinct.jpg" alt="Killer Instinct" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Killer Instinct is a fighting game that is a reboot of the series. The
gane retains its tranditional combo-based gameplay. It offers a wide variety of
characters for you to play as.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 22/11/2013 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Double Helix</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One</em>

<br>
<br>
<br>
<br>

{% endblock %}
