
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Mario & Sonic at the Rio 2016 Olympic Games </p>
 
<img src="/static/marioandsonic.jpg" alt="Mario and Sonic" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Mario & Sonic at the Rio 2016 Olympic Games is a soprts game that lets you
contol various characters from the fictional universes of the Mario and Sonic
frnachises in sporting sevents based on the 2016 Summer Olympics.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 24/06/2016 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Sega Sports R&D</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
