
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Mario Kart 8 </p>
 
<img src="/static/mariokart8.jpg" alt="Mario Kart 8" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Mario Kart 8 is a kart racing game that lets players control characters
from the Mario franchise and participate in kart racing on various race tracks,
using items to hinder opponents to gain advantages.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 30/05/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EAD</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
