
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Halo: The Master Chief Collection </p>
 
<img src="/static/halotmcc.jpg" alt="Halo: The Master Chief Collection" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Halo: The Master Chief Collection is a compilation of first-person shooter
games in the Halo Series. The games follow the main protaganist Master Chief as
he stops the halo rings.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 11/11/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> 343 Industries</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One</em>

<br>
<br>
<br>
<br>

{% endblock %}
