
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/background.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

{% endblock %}

{% block content %}
   <p> The Matrix </p>
 
<img src="/static/matrix.jpg" alt="The Matrix" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> The Matrix is a science fiction film that depicts a dystopian future in
which reality as perceived by most humans is actaully a simulated reality
called "the Matrix".

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 31/03/1999</em>

<br>
<br>
<br><br>

<b>Director:</b>
<em> The Wachowski Sisters</em>

<br>
<br>
<br>
<br>

<b> Starring:</b>
<em>Keanu Reeves, Laurence Fishburne</em>

<br>
<br>

<form  action="/basket/"
method="post">
<input type="hidden" name="business" value="kin@kinskards.com">

<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="add" value="1">

<input type="hidden" name="item_name"  value="Item">
<input type="hidden" name="amount" value="3.95">
<input type="hidden" name="currency_code" value="USD">

<input type="hidden" name="on0" value="Color">
  <select name="os0" id="os0">
    <option value="Select a Platform">-- Select a Platform --</option>
    <option value="DVD">DVD</option>
    <option value="Blu Ray">Blu Ray</option>
  </select>

 <BR><BR><BR> <input type="image" name="submit"

src="/static/basket.jpg"
   alt="Add to Cart" width="400" height="75">
  <img alt="" width="1" height="1"
   src="https://ww.paypalobjects.com/en_US/i/scr/pixel.gif" > <BR>
</form>


{% endblock %}
