
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Metal Gear Solid V: The Definitive Experience </p>
 
<img src="/static/metalgearsolidv.jpg" alt="Metal Gear Solid V: The Definite edition" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Metal Gear Solid V: The Definitive Experience is an open world action-adventure
stealth video game that combines ground zeroes and the phantom pain in one
game. Set in 1984 the story follows mercenary leader Venom Snake (also known as
Big Boss) as he ventures into Soviet-occupied Kabul Province and the
Angola-Zaire border region to exact revenge on the people who destroyed his
forces and came close to killing him.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 16/10/2016 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Kojima Productions</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
