{% extends "base.html" %}

{% block head %}

      background-image:url(/static/background.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

{% endblock %}

{% block content %}
  <p>These are the popular movies we have to sell right now</p>

 <a href="avengers"><img src="/static/avengers.jpg" alt="Avengers" style=
"width:280px;height:420px;"></a>

 <a href="matrix"><img src="/static/matrix.jpg" alt="Matrix" style=
"width:280px;height:420px;"></a>

 <a href="godfather"><img src="/static/godfather.jpg" alt="The Godfather" style=
"width:280px;height:420px;"></a>

 <a href="batmanvsuperman"><img src="/static/batmanvsuperman.jpg" alt="Batman v
 Superman" style=
"width:280px;height:420px;"></a>

 <a href="starwars"><img src="/static/starwars.jpg" alt="Star Wars: A new Hope" style=
"width:280px;height:420px;"></a>

 <a href="guardians"><img src="/static/guardians.jpg" alt="Guardians
 of the Galaxy" style=
"width:280px;height:420px;"></a>

 <a href="exmachina"><img src="/static/exmachina.jpg" alt="Ex Machina" style=
"width:280px;height:420px;"></a>

 <a href="suicidesquad"><img src="/static/suicidesquad.jpg" alt="Suicide Squad" style=
"width:280px;height:420px;"></a>

 <a href="inception"><img src="/static/inception.jpg" alt="Inception" style=
"width:280px;height:420px;"></a>

 <a href="scream"><img src="/static/scream.jpg" alt="Scream" style=
"width:280px;height:420px;"></a>

 <a href="whiplash"><img src="/static/whiplash.jpg" alt="Whiplash" style=
"width:280px;height:420px;"></a>

 <a href="toystory"><img src="/static/toystory.jpg" alt="Toy Story" style=
"width:280px;height:420px;"></a>

 <a href="skyfall"><img src="/static/skyfall.jpg" alt="007: Skyfall" style=
"width:280px;height:420px;"></a>

 <a href="shawshank"><img src="/static/shawshank.jpg" alt="Shawshank" style=
"width:280px;height:420px;"></a>

 <a href="darkknight"><img src="/static/darkknight.jpg" alt="The Dark Knight" style=
"width:280px;height:420px;"></a>

 <a href="spiderman"><img src="/static/spiderman.jpg" alt="Spiderman" style=
"width:280px;height:420px;"></a>
{% endblock %}
