{% extends "base.html" %}

{% block head %}

      background-image:url(/static/background.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

{% endblock %}

{% block content %}
  <p>This is the popular Music we are selling</p>

 <a href="foofighters"><img src="/static/foofighters.jpg" alt="foofighters" style=
"width:280px;height:320px;"></a>

 <a href="nirvana"><img src="/static/nirvana.jpg" alt="Nirvana" style=
"width:280px;height:320px;"></a>

 <a href="gunsandroses"><img src="/static/gunsandroses.jpg" alt="Guns and Roses" style=
"width:280px;height:320px;"></a>

 <a href="bobmarley"><img src="/static/bobmarley.jpg" alt="Bob Marley" style=
"width:280px;height:320px;"></a>

 <a href="blink"><img src="/static/blink.jpg" alt="Blink 182" style=
"width:280px;height:320px;"></a>

 <a href="sum41"><img src="/static/sum41.jpg" alt="Sum 41" style=
"width:280px;height:320px;"></a>

 <a href="u2"><img src="/static/u2.jpg" alt="U2" style=
"width:280px;height:320px;"></a>

 <a href="redhot"><img src="/static/redhot.jpg" alt="Red Hot Chillie Peppers" style=
"width:280px;height:320px;"></a>

 <a href="oasis"><img src="/static/oasis.jpg" alt="Oasis" style=
"width:280px;height:320px;"></a>

 <a href="meatloaf"><img src="/static/meatloaf.jpg" alt="Meatloaf" style=
"width:280px;height:320px;"></a>

 <a href="bonjovi"><img src="/static/bonjovi.jpg" alt="Bon Jovi" style=
"width:280px;height:320px;"></a>

 <a href="beatles"><img src="/static/beatles.jpg"
 alt="The Beatles" style=
"width:280px;height:320px;"></a>

 <a href="adele"><img src="/static/adele.jpg" alt="Adele" style=
"width:280px;height:320px;"></a>

 <a href="queen"><img src="/static/queen.jpg" alt="Queen" style=
"width:280px;height:320px;"></a>

 <a href="michaeljackson"><img src="/static/michaeljackson.jpg" alt="Michael
 Jackson" style=
"width:280px;height:320px;"></a>

 <a href="falloutboy"><img src="/static/falloutboy.jpg" alt="Fallout Boy" style=
"width:280px;height:320px;"></a>

 {% endblock %}
