
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> New Super Mario Bros. U </p>
 
<img src="/static/supermariobrosu.jpg" alt="New Super Mario Bros U" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> New Super Mario Bros. U is a side-scrolling platform game that follows
Mario, luigi and two toads as they make thier way back to princess's peach
castle to save her from bowser and the koopalings. 

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 30/11/2012 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EAD</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
