
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Driveclub </p>
 
<img src="/static/driveclub.jpg" alt="Driveclub" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Driveclub is a 2014 racing video game in which players compete in racing
events around the world in a variety of different fashions. Players can compete
in clubs with other players, earning a reputation as one of the best clubs, and
leveling up to unlocl better items.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 08/10/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Evolution Studios</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
