{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
  <p>These are the popular new Playstation 4 games</p>

 <a href="uncharted4"><img src="/static/uncharted4.jpg" alt="Uncharted 4" style=
"width:200px;height:320px;"></a>

 <a href="untildawn"><img src="/static/untildawn.jpg" alt="Until Dawn" style=
"width:200px;height:320px;"></a>

 <a href="godofwar3"><img src="/static/godofwar3.jpg" alt="God of War 3 Remastered" style=
"width:200px;height:320px;"></a>

 <a href="thelastofus"><img src="/static/thelastofus.jpg" alt="The Last of us" style=
"width:200px;height:320px;"></a>

 <a href="unchartedtndc"><img src="/static/unchartedtndc.jpg" alt="Uncharted: The Nathan Drake Collection" style=
"width:200px;height:320px;"></a>

 <a href="ratchetandclank"><img src="/static/ratchetandclank.jpg" alt="Ratchet and Clank" style=
"width:200px;height:320px;"></a>

 <a href="infamous"><img src="/static/infamousss.jpg" alt="Infamous Second Son" style=
"width:200px;height:320px;"></a>

 <a href="driveclub"><img src="/static/driveclub.jpg" alt="DriveClub" style=
"width:200px;height:320px;"></a>

 <a href="nomanssky"><img src="/static/nomanssky.jpg" alt="No Man's Sky" style=
"width:200px;height:320px;"></a>

 <a href="bioshock"><img src="/static/bioshock.jpg" alt="Bioshock the Collection" style=
"width:200px;height:320px;"></a>

 <a href="tombraider"><img src="/static/tombraider.jpg" alt="Rise of the Tomb Raider" style=
"width:200px;height:320px;"></a>

 <a href="gtav"><img src="/static/gta5.jpg" alt="Grand Theft Auto: V" style=
"width:200px;height:320px;"></a>

 <a href="raymanlegends"><img src="/static/raymanlegends.jpg" alt="Rayman Legends" style=
"width:200px;height:320px;"></a>

 <a href="dyinglight"><img src="/static/dyinglight.jpg" alt="Dying Light" style=
"width:200px;height:320px;"></a>

 <a href="destiny"><img src="/static/destiny.jpg" alt="Destiny" style=
"width:200px;height:320px;"></a>

 <a href="batman"><img src="/static/arkhamknight.jpg" alt="Batman Arkham Knight" style=
"width:200px;height:320px;"></a>

 <a href="guitarherolive"><img src="/static/guitarherolive.jpg" alt="Guitar Hero Live" style=
"width:200px;height:320px;"></a>

 <a href="metalgearsolidv"><img src="/static/metalgearsolidv.jpg" alt="Metal Gear Solid V: The definate
Experience" style=
"width:200px;height:320px;"></a>

 <a href="codbo2"><img src="/static/codbo2.jpg" alt="Call of Duty: Black Ops 2" style=
"width:200px;height:320px;"></a>

 <a href="fallout4"><img src="/static/fallout4.jpg" alt="Fallout 4" style=
"width:200px;height:320px;"></a>

 <a href="nba2k16"><img src="/static/nba2k16.jpg" alt="NBA2K16" style=
"width:200px;height:320px;"></a>

 <a href="bloodborne"><img src="/static/bloodborne.jpg" alt="Bloodborne" style=
"width:200px;height:320px;"></a>

 <a href="darksouls3"><img src="/static/darksouls3.jpg" alt="The Witcher 3" style=
"width:200px;height:320px;"></a>

 <a href="thewitcher"><img src="/static/thewitcher.jpg" alt="The Witcher 3" style=
"width:200px;height:320px;"></a>

 <a href="codghosts"><img src="/static/codghosts.jpg" alt="Call of Duty: Ghosts" style=
"width:200px;height:320px;"></a>

{% endblock %}
