
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Pokken Tournament </p>
 
<img src="/static/pokkentournament.jpg" alt="Pokken Tournament" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Pokken Tournament is a fighting game in which two fighters battle against
each other using various Pokemon with gameplay shifting between "Field Phase"
where the Pokemon move freely around the arena, and "Dual Phase" where they
move relative each other.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 18/03/2016 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Bandai Namco Studios</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
