
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Quantum Break </p>
 
<img src="/static/quantumbreak.jpg" alt="Quantum Break" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Quantum Break is a sciencce fiction, action-adventure third person shooter
game that centers on protagonist Jack Joyce, whos granted time manipulation
powers after a failed time-machine experiment, as he comes into conflict with
former friend Paul Serene over how to deal with an apocalyptic "End of Time".

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 05/04/2016 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Remedy Entertianment</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One</em>

<br>
<br>
<br>
<br>

{% endblock %}
