
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/background.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

{% endblock %}

{% block content %}
   <p> Rare Replay </p>
 
<img src="/static/rarereplay.jpg" alt="Rare Replay" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Rare Replay is a compilation of 30 video games from the 30-year history of
devlopers Rare and its predecessor, Ultimate Play the Game. The games span
multiple genres and consoles-from the ZX Spectrum to the Xbox 360-and retain
the features and errors of thier original releases with minimal edits

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 04/08/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Rare</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One</em>

<br>
<br>

<form  action="/basket/"
method="post">
<input type="hidden" name="business" value="kin@kinskards.com">

<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="add" value="1">

<input type="hidden" name="item_name"  value="Item">
<input type="hidden" name="amount" value="3.95">
<input type="hidden" name="currency_code" value="USD">

<input type="hidden" name="on0" value="Color">
  <select name="os0" id="os0">
    <option value="Select a Platform">-- Select a Platform --</option>
    <option value="Xbox One">Xbox One</option>
  </select>

 <BR><BR><BR> <input type="image" name="submit"

src="/static/basket.jpg"
   alt="Add to Cart" width="400" height="75">
  <img alt="" width="1" height="1"
   src="https://ww.paypalobjects.com/en_US/i/scr/pixel.gif" > <BR>
</form>


{% endblock %}
