
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Ratchet & Clank </p>
 
<img src="/static/ratchetandclank.jpg" alt="Ratchet and Clank" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Ratchet & Clank is a three-dimensional platform-shooter game that is a
re-imagining of the first game in the series. The game follows Ratchet the
Lombax and his robotic companion Clank as they save the universe.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 22/04/2016</em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Insomniac Games</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
