
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Rayman Legends </p>
 
<img src="/static/raymanlegends.jpg" alt="Rayman Legends" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Rayman Legends is a side-scrolling platform game that focuses on Rayman,
Globox and the teensies, as well as the new characters Murphy and Barbara in
freeing captured teensies, defeating enemies and stoping the invasion from
happening.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 21/02/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Ubisoft</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4, Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
