
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Pikmin 3 </p>
 
<img src="/static/pikmin3.jpg" alt="Pikmin 3" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Pikmin 3 is a real-time strategy game that focuses on the player
controlling three alien captains who explore the surface of a planet known as
"PNF-404" in search of cultivable fruit seeds to save their home planet,
Koppai, from famine. They meet and befriend the Pikmin, who assist them.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 26/07/2013 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EAD</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
