
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Super Smash Bros Wii U </p>
 
<img src="/static/smashbrosu.jpg" alt="Super Smash Bros Wii U" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Super Smash Bros for the Wii U is a figting game where players use
diffrent attacks to weaken their opponents and knock them out of an arena. The
games are crossover titles that features characters, items, music, and stages
from various Nintendo frnachises.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 28/11/2014 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Sora Ltd & Bandai Namco Games</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
