
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Sonic Lost World </p>
 
<img src="/static/soniclostworld.jpg" alt="Sonic Lost World" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Sonic Lost World is an action-adventure/platform game that focuses on the
efforts of Sonic the Hedgehog to stop the Deadly six, an alien tribe that
serves as the games's man antagonists, as they seek to siphon engery from the
Lost Hex, the game's setting.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 27/10/2015 </em>

<br>
<br>
<br>
<br>

<b>Developer:</b>
<em> 18/10/2013</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
