
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Titanfall </p>
 
<img src="/static/titianfall.jpg" alt="TitanFall" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Titanfall is a multiplayer first-person shooter game where the players
control "pilots" and their mech-style Titans, and fight six-onsix matches set
in war-torn outer space colonies.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 11/03/2014</em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Respawn Entertainment</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One</em>

<br>
<br>
<br>
<br>

{% endblock %}
