
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Splatoon </p>
 
<img src="/static/splatoon.jpg" alt="Splatoon" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Splatoon is a third-person shooter gamr which centers around characters
known as inklings-beings that can transform between humanoid and squid forms,
and hide or swim through colored ink sprayed on surfaces using gun or
brush-based weaponry.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 29/05/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EAD</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
