
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Star Fox Zero </p>
 
<img src="/static/starfoxzero.jpg" alt="Star Fox Zero" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Star Fox Zero is a 3D scrolling shooter video game following Fox McCloud
as he pilots his Arwing craft through various levels with his friends,
encountering many enemies along the way.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 22/04/2016 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EPD & PlatinumGames</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
