
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Super Mario Maker </p>
 
<img src="/static/supermariomaker.jpg" alt="Super Mario Maker" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Super Mario Maker is a side-scrolling platform game and game creation
system that allows the player to create super mario bros levels, and upload
them to the internet to allow anybody from around the world to play them. It
also allows you to download any levels from any user and play them yourself in
any 4 game types which are, super mario bros, super mario bros 3, super mario
world, and new super mario bros.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 11/09/2015</em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EAD</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
