
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Super Mario 3D World </p>
 
<img src="/static/supermario3dworld.jpg" alt="Super Mario 3D World" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Super Mario 3D World is an original 3D platform game that follows Mario
and friends attemting to rescue fairy-like creatures called Sprixies from
Bowser.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 29/11/2013 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EAD & 1-UP Studio</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
