
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> The Last of Us: Remastered </p>
 
<img src="/static/thelastofus.jpg" alt="The last of us" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> The Last of Us: Remastered is an action-adventure survival horror game
that lets the player control Joel, a man tasked with escorting a teenage girl
named Ellie across a post-apocalyptic United States. The game is played from a
third-person perspective; players use firearms and improvised weaons, and can
use stealth to defend against hostile humans and cannibalisitic creatures
infected by a mutated strain of the cordyceps fungus.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 30/07/2014 </em>

<br>
<br>
<br>
<br>

<b>Developer:</b>
<em> Naughty Dog</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
