
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> The Witcher 3: Wild Hunt </p>
 
<img src="/static/thewitcher.jpg" alt="The Witcher" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> The Witcher 3: Wild Hunt is an open world action role-playing game where
the player controls protagonist Geralt of Rivia, a monster hunter known as a
witcher, who sets out on a long journey through the northen Kingdoms.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 19/05/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> CD Projekt RED</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
