
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Rise of the Tomb Raider </p>
 
<img src="/static/tombraider.jpg" alt="Rise of the Tomb Raider" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Rise of the Tomb Raider is an action-adventure game that folloes Lara
Croft as she ventures into Siberia in search of the legendary city of Kitezh,
whilst battling a paramilitary organizarion that itends on beating her to the
city's promise of immortality.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 13/11/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Crystal Dynamics</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
