
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/background.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

{% endblock %}

{% block content %}
   <p> Rise of the Tomb Raider </p>
 
<img src="/static/tombraider.jpg" alt="Rise of the Tomb Raider" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Rise of the Tomb Raider is an action-adventure game that folloes Lara
Croft as she ventures into Siberia in search of the legendary city of Kitezh,
whilst battling a paramilitary organizarion that itends on beating her to the
city's promise of immortality.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 13/11/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Crystal Dynamics</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One, Playstation 4</em>

<br>
<br>

<form  action="/basket/"
method="post">
<input type="hidden" name="business" value="kin@kinskards.com">

<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="add" value="1">

<input type="hidden" name="item_name"  value="Item">
<input type="hidden" name="amount" value="3.95">
<input type="hidden" name="currency_code" value="USD">

<input type="hidden" name="on0" value="Color">
  <select name="os0" id="os0">
    <option value="Select a Platform">-- Select a Platform --</option>
    <option value="Playstation 4">Playstation 4</option>
    <option value="Xbox One">Xbox One</option>
  </select>

 <BR><BR><BR> <input type="image" name="submit"

src="/static/basket.jpg"
   alt="Add to Cart" width="400" height="75">
  <img alt="" width="1" height="1"
   src="https://ww.paypalobjects.com/en_US/i/scr/pixel.gif" > <BR>
</form>

{% endblock %}
