
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> The Legend of Zelda: Twilight Princess HD </p>
 
<img src="/static/twilightprincesshd.jpg" alt="The Legend of Zelda: Twilight Princess HD" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> The Legend of Zelda: Twilight Princess HD is a remaster of the
action-adventure game that focuses on the series protagonist Link who tries to
prevent Hyrule from being engulfed by a corruupted parallel dimension known as
the Twilight Realm.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 28/03/2016 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EAD</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
