
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/background.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;

{% endblock %}

{% block content %}
   <p> U2 </p>
 
<img src="/static/u2.jpg" alt="U2" align="left"
style="width:620px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Greatist Hits
<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 02/11/1998 </em>

<br>
<br>
<br><br>

<b>Genre:</b>
<em> Rock</em>

<br>
<br>
<br>
<br>

<b> Band Members:</b>
<em>Bono, The Edge, Adam Clayton, Larru Mullen Jr.</em>

<br>
<br>

<form  action="/basket/"
method="post">
<input type="hidden" name="business" value="kin@kinskards.com">

<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="add" value="1">

<input type="hidden" name="item_name"  value="Item">
<input type="hidden" name="amount" value="3.95">
<input type="hidden" name="currency_code" value="USD">

 <BR><BR><BR> <input type="image" name="submit"

src="/static/basket.jpg"
   alt="Add to Cart" width="400" height="75">
  <img alt="" width="1" height="1"
   src="https://ww.paypalobjects.com/en_US/i/scr/pixel.gif" > <BR>
</form>


{% endblock %}
