
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Forza Motorsport 5 </p>
 
<img src="/static/forza.jpg" alt="Forza" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Forza Motorsport 5 is a racing video game that lets you race in over 200
cars from over 50 manufacturers and race on 17 circuits.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 22/11/2013 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Turn 10 Studios</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Xbox One</em>

<br>
<br>
<br>
<br>

{% endblock %}
