{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Uncharted 4</p>
 
<img src="/static/uncharted4.jpg" alt="Uncharted 4" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Uncharted 4: A thief's End is an action-adventure video game set several
years after the events of Uncharted 3: Drake's Deception, A Thief's End follows
series protagonist Nathan Drake, who has retired from fortune hunting. He
reunites with his older brother Sam and longtime partner Sully to search for
clues for the location of Captain Henry Avery's long-lost treasure to save his
brother.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 10/05/2016 </em>

<br>
<br>
<br>
<br>

<b>Developer:</b>
<em> Naughty Dog</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em> Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
