
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Uncharted: The Nathan Drake Collection </p>
 
<img src="/static/unchartedtndc.jpg" alt="Uncharted: The Nathan Drake Collection" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Uncharted: The Nathan Drake Collection is a remasterd collection of the
three original games. It follows Nathan Drake as he tours the world as a
tresure hunter looking for various ancient treasures.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 27/10/2015</em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Naughty Dog</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
