
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Until Dawn </p>
 
<img src="/static/untildawn.jpg" alt="Until Dawn" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Until Dawn is an interactive drama survival horror adventure game
set in Western Canada, Until Dawn centers around a group of eight teenagers who
decide to vacation for a night in a cabin on the fictional Blackwood Mountain,
exactly one year after the disappearance of two girls, with whom the group was
acquainted.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 26/09/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Supermassive Games</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Playstation 4</em>

<br>
<br>
<br>
<br>

{% endblock %}
