
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> The Legend of Zelda: Wind Waker HD </p>
 
<img src="/static/windwakerhd.jpg" alt="The Legend of Zelda: Wind Waker HD" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> The Legend of Zelda: Wind Waker HD is a remastered action-adventure game
that is set on a group of islands in a vast sea-afirstfor the series. The
player controls series protagonist Link as he attempts to save his sister from
the sorcerer Ganon and becomes embroiled in a struggle for the Trifroce, a
sacred relic that grants its holder's wishes.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 04/10/2013 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Nintendo EAD</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
