
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Xenoblade Chronicles X </p>
 
<img src="/static/xenobladechronicles.jpg" alt="Xenoblade Chronicles X" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em>Xenoblade Chronicles X is an action role-playing game that centers on the
player who works to coexist with the indigenous creatures on a hostile alien
planet while striving to protect humanity.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 29/04/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Monolith Soft</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
