
{% extends "base.html" %}

{% block head %}

      background-image:url(/static/greybackground.jpg);
      background-repeat: no-repeat;
      background-attachment: fixed;

{% endblock %}

{% block content %}
   <p> Yoshi's Woolly World </p>
 
<img src="/static/yoshiswoollyworld.jpg" alt="Yoshi's Woolly World" align="left"
style="width:500px;height:620px;">

<style>

b {
color: #818791;
font-size: 25px;
  }
em {
color: #ffffff;
font-size: 20px;
  }
</style>
<br>
<br>

<b>Summary:</b>
<em> Yoshi's Woolly World is a side-scrolling platformer game that takes place
on a knitted island filled with many Yarn Yoshis of varying patterns. The evil
magikoopa Kamek turns nearly all the yoshis into bundles of yarn for his master
baby bowser, scattering them accross diffrent worlds. However, two yoshis
manage to avoid being transformed themselves, and they set off to pursue Kamek
and resucue their woolly friends.

<br>
<br>
<br>
<br>

</em>
<b>Release Year:</b>
<em> 26/06/2015 </em>

<br>
<br>
<br><br>

<b>Developer:</b>
<em> Good-Feel</em>

<br>
<br>
<br>
<br>

<b> Platform(s):</b>
<em>Wii U</em>

<br>
<br>
<br>
<br>

{% endblock %}
